[submodule "libzmq"]
	path = libzmq
	url = ../libzmq.git
[submodule "bindings/azmq"]
	path = bindings/azmq
	url = ../azmq.git
[submodule "bindings/cppzmq"]
	path = bindings/cppzmq
	url = ../cppzmq.git
[submodule "bindings/zmqcpp"]
	path = bindings/zmqcpp
	url = ../zmqcpp.git
